body {
    background-color: #fff6f6
}

h1 {
    text-align: center;
}

h4 {
    font-size: 16px;
    font-weight: 700;
}

header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
}

@media (min-width: 750px) {
    header {
        text-align: left;
    }
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

ul {
    list-style: none;
}

#hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 350px;
}

#encabezado {
    margin: 30px 0;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.vacio {
    padding: 10px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.contenido-hero {
    margin-top: 80px;
    color: white;
}

.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}

.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}

.contenido-hero form .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}

.barra {
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #b11227, #b82624, #be3521, #c4421d, #c94f19);
}

.barra p {
    margin: 0;
    color: white;
}

.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

@media (min-width: 750px) {
    .icono {
        margin-bottom: 0;
    }
}

.button-custom {
    background-color: white;
    border-color: #c4421d;
    color: #c4421d;
}

.button-custom:hover {
    background-color: #c4421d;
    border-color: white;
    color: white;
}

.button-custom-agregar {
    background-color: white;
    border-color: orange;
    color: orangered;
}

.button-custom-agregar:hover {
    background-color: orangered;
    border-color: orange;
    color: white;
}

.icono1 {
    background-image: url(../img/icono1.png);
}

.icono2 {
    background-image: url(../img/icono2.png);
}

.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-cursos .row {
    margin-bottom: 20px;
}

.agregar-carrito {
    margin: 10px 0;
}

.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

@media (min-width: 550px) {
    .card {
        text-align: left;
    }
}

.info-card {
    padding: 10px 20px;
}

.info-card p,
.card h4 {
    margin-bottom: 5px;
}

.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}

.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

.footer {
    margin-top: 40px;
    border-top: 1px solid #aaa;
    ;
    padding-top: 40px;
}

.footer .menu a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

ul.pagination li a.active {
    background-color: red;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}


/* body {font-family: Arial, Helvetica, sans-serif;} */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 20px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: orangered;
    color: white;
}

.modal-header h2 {
    font-size: 1.5em;
    position: relative;
    top: 4px;
    left: 40%;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: orangered;
    color: white;
}

.pizza-modal {
    width: 50%;
}

.form-ing {
    width: 50%;
}

.flex-info-ingredient {
    display: flex;
    flex-wrap: wrap;
}

.flex-info-ingredient>div {
    margin: 5px;
}

.empty {
    width: 100%;
}

.rounded-img {
    border-radius: 50%;
}